# version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/authdb
      SECRET_KEY: hiep-tran-thanh-mieu
    # ports:
    #   - "8001:8000"
    depends_on:
      - postgres
    networks:
      - app-network

  ai-service:
    build: ./ai-service
    ports:
      - "8002:8000"
    depends_on:
      - auth-service
    networks:
      - app-network

  agent-service:
    build: ./agent-service
    environment:
      AUTH_SERVICE_URL: http://auth-service:8000
      BACKEND_URL: http://localhost:8000
    ports:
      - "8003:8000"
    depends_on:
      - auth-service
    networks:
      - app-network
    volumes:
      - agent_data:/app/pending_requests

  kong:
    image: kong:3.9.1-ubuntu
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    volumes:
      - ./kong.yml:/kong/kong.yml:ro
    ports:
      - "8000:8000"
      - "8004:8001"
    depends_on:
      - auth-service
      - ai-service
      - agent-service
    networks:
      - app-network

volumes:
  postgres_data:
  agent_data:

networks:
  app-network:
    driver: bridge
