body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #000;
  color: #333;
}

/* Container */
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #000;
  width: 100vw;
  max-width: 100vw; 
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  background-color: white;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.menu-button {
  padding: 0.5rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
}

.menu-button:hover {
  background-color: #4338ca;
}

.navbar {
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 0 1rem;
}

@media (max-width: 640px) {
  .navbar {
    padding: 0 0.5rem;
    height: 56px;
  }

  .menu-button {
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
  }

  .main-content {
    font-size: 14px;
  }
}